<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CDM_APP</display-name>
  <servlet>
    <servlet-name>GetAllTableOfApp</servlet-name>
    <servlet-class>edu.mcdm.servlet.GetAllTableOfApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllTableOfApp</servlet-name>
    <url-pattern>/GetAllTableOfApp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SlowSyncDatabase</servlet-name>
    <servlet-class>edu.mcdm.servlet.SlowSyncDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SlowSyncDatabase</servlet-name>
    <url-pattern>/SlowSyncDatabase</url-pattern>
  </servlet-mapping>
</web-app>